body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}


main {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#scroller {
    min-height: 100%;
    background: repeat url("./leaves.png");
    /* HACK: using a repeating image with a */
    /* height of exactly 39px means we don't */
    /* jump around when banners are prepended */
    /* (this relies on code and other CSS) */
    background-size: auto 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: darkgreen;
    padding: 1em;
    margin: 1em 0;
}

p, summary {
    font-size: 1.05em;
    color: mintcream;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

summary {
    font-style: italic;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    overflow-wrap: break-word;
    max-width: 100%;
    margin: 0.5em 0 0.5em 0;
}

.block-line > span {
    display: inline-block;
}


button {
    background-color: teal;
    border-color: teal;
    color: lightcyan;
}

#loader {
    background-color: darkgreen;
    /* WARNING: code relies on this */
    padding: 16px;
}

#banners {
    display: inline-block;
    line-height: 0;
}

#banners > a {
    display: inline-block;
    /* WARNING: code relies on this */
    padding: 2px;
    margin: 2px;
}

a:focus {
    outline: 2px dashed mediumaquamarine;
}

footer {
    width: 100%;
    background-color: forestgreen;
    padding-top: 0.5em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px khaki;
}

meter {
    width: 100%;
}

meter:hover {
    cursor: pointer;
}

#progress {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

nav {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
}

.chunk {
    padding: 10px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (max-width: 639px) {
    #squisher {
        max-width: 95%;
    }
    nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .chunk {
        margin: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}
@media screen and (min-width: 640px) and (max-width: 749px) {
    #squisher {
        max-width: 80%;
    }
    .chunk {
        margin: 10px 0;
    }
}
@media screen and (min-width: 750px) {
    #squisher {
        max-width: 70%;
    }
    .chunk {
        margin: 10px;
    }
}

hr {
    margin: 4px;
}

.relaxed * {
    animation: sleep 1s ease-in-out forwards;
}

.woken * {
    animation: wake 0.5s ease-in-out forwards;
}

@keyframes sleep {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        display: none;
        height: 0;
    }
}

@keyframes wake {
    from {
        opacity: 0%;
        display: none;
        height: 0;
    }
    to {
        opacity: 100%;
    }
}

pre {
    color: white;
    border: solid 1px white;
    font-family: monospace;
    max-width: 100%;
    overflow: scroll;
}

#top, #bottom {
    display: block;
    height: 400px;
}

#top[hidden], #bottom[hidden] {
    display: none;
}