body {
    background: repeat url("./lime.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: seashell;
}

main {
    max-width: 70%;
}

h1 {
    color: red;
}

p {
    color: darkblue;
}

section {
    line-height: 0%;
}

section > a {
    display: inline-block;
    margin: 0.5em;
}