body {
    background: repeat url("./lime.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 70%;
    background-color: seashell;
}

h1 {
    color: red;
}

p {
    color: darkblue;
}

section {
    display: inline-block;
    line-height: 0%;
}

section > a {
    display: inline-block;
    margin: 0.5em;
}

footer {
    position: fixed;
    bottom: 0;
}